* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

nav {
    width: 100%;
    display: flex;
    justify-content: right;
    background-color: #5367a5;
    }

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    }

li {
    padding: 20px 12px;
    display: flex;
    color: white;
    align-items: center;
    cursor: pointer;
    }