#header{
   background-color: aqua; 
   position: relative;
   right: 0;

}

#container{
    background-color: yellow; 
    display: ;
}

.clearfix{
    background-color: lightgreen; 
    display: ;
}

.right-links{
    background-color: lightgrey; 
    display: ;
}