h1{
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 180%;
    background-color: lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    margin-bottom: 0px;
}

.post-head{
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 2px solid blue;
}

.post-body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}


small{
    color: blue;
}

.post-footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: grey;

}