* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    font-family: Arial, sans-serif;

    }

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #5367a5;
    }

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    }

li {
    padding: 20px 40px;
    display: flex;
    color: white;
    align-items: center;
    cursor: pointer;
    }

li:hover {
        background-color: #3f5383;
        }

@media (max-width: 767px) {
        ul {
            flex-direction: column;
            align-items: center;
            }

        li {
            width: 100%;
            justify-content: center;
            border-bottom: none
            }
        }