body{
    background-color: rgb(100, 217, 221);
}

h1{
    color: white;
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}   

#contenedor-principal{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    margin: auto;
}

.caja_1{
    background-color: lightgreen;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}
.caja_2{
    background-color: yellow;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}
.caja_3{
    background-color: lightgreen;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}