body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(89, 120, 206);
}

h1{
    margin-top: 250px;
    color: rgb(0, 0, 0);
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
}   

#contenedor-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    top: 50%;
    border-radius: 15px;
    padding: 1%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caja_1{
    display: flex;
    align-items:center ;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 90%;
}
.caja_2{
    display: flex;
    align-items:center ;
    background-color: rgb(236, 236, 236);
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
}
.caja_3{
    display: flex;
    align-items:center ;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 90%;
}

img{
    width: 80px;
    padding-right: 10px;
}