 * {
    margin: 0;
    box-sizing: border-box;
        }

body {
    font-family: Arial, sans-serif;
        }

.container {
    display: flex;
    min-height: 100vh;
        }

.image_section {
        flex: 1;
    background-image: url('../img/fondo.jpg');
        background-size: cover;
        background-position: center;
        }

.content_section {
        flex: 1;
        background-color: #2d2d2d;
        color: white;
        padding: 60px;
        display: flex;
        flex-direction: column;
        }

.social_icons {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 20px;
        }

i {
    color: white;
    margin-left: 10px;
    cursor: pointer;
    
}
.box {
    margin-top: 30%;
    max-width: 450px;
}
h1 {
    font-size: 48px;
    margin-bottom: 10px;
    }

.subtitle {
    color: #888;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
    }

p {
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 30px;
    margin-right: 40%;
    text-align: left;
    }

.btn {
    background-color: white;
    color: #2d2d2d;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    width: fit-content;
    }

@media (max-width: 768px) {
    .container {
    flex-direction: column;
        }

.image_section {
        min-height: 300px;
        }

.content_section {
        padding: 40px 30px;
        }

.social_icons{
    position: static;
    display: flex;
    justify-content: flex-end;
}

.box{
    margin-top: 20%;
}
}